APP_HOST=localhost
APP_PROTOCOL=http
POSTGRES_USER=detrix
POSTGRES_PASSWORD=password
POSTGRES_DB=detrix_development
POSTGRES_HOST_PORT=5433
WEB_HOST_PORT=3000
DATABASE_URL=postgres://detrix:password@db:5432/detrix_development
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAILER_FROM=noreply@detrix.local
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
