APP_HOST=example.com
APP_PROTOCOL=https
POSTGRES_USER=oath_template
POSTGRES_PASSWORD=password
POSTGRES_DB=oath_template_development
DATABASE_URL=postgres://oath_template:password@db:5432/oath_template_development
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=---@gmail.com
SMTP_PASSWORD=---
MAILER_FROM=noreply@example.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
