KAMAL_REGISTRY_PASSWORD=
RAILS_MASTER_KEY=
POSTGRES_PASSWORD=
DATABASE_URL=postgres://detrix:your-postgres-password@detrix-db:5432/detrix_production
CACHE_DATABASE_URL=postgres://detrix:your-postgres-password@detrix-db:5432/detrix_production_cache
QUEUE_DATABASE_URL=postgres://detrix:your-postgres-password@detrix-db:5432/detrix_production_queue
CABLE_DATABASE_URL=postgres://detrix:your-postgres-password@detrix-db:5432/detrix_production_cable
SMTP_USERNAME=
SMTP_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
