KAMAL_REGISTRY_PASSWORD=
RAILS_MASTER_KEY=
POSTGRES_PASSWORD=
DATABASE_URL=postgres://oath_template:your-postgres-password@oath-template-db:5432/oath_template_production
CACHE_DATABASE_URL=postgres://oath_template:your-postgres-password@oath-template-db:5432/oath_template_production_cache
QUEUE_DATABASE_URL=postgres://oath_template:your-postgres-password@oath-template-db:5432/oath_template_production_queue
CABLE_DATABASE_URL=postgres://oath_template:your-postgres-password@oath-template-db:5432/oath_template_production_cable
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
